@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  nav [data-active="true"] {
    @apply border-l-2 border-l-primary bg-primary/10 -ml-[1px] pl-[13px] !important;
  }

  nav [data-active="false"]:hover {
    @apply border-l-2 border-l-primary/50 -ml-[1px] pl-[13px] !important;
  }
}